<h2>Find Your Favorite Beers</h2>
<br/>
<%= form_tag '/', :method => :get do %>

<%= label_tag 'Search by Beer' %>
<%= text_field_tag :name_query %>
<br/>
<%= label_tag 'Search by Brewer' %>
<%= text_field_tag :brewer_query %>
<br/>
<%= submit_tag 'Submit', class: 'submit' %>

<% end %>
<br/>
<table>
	<tr>
		<th>Beer</th>
		<th>Brewer</th>
		<th>Location</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @beers.each do |beer| %>
	<tr>
			<td><a href='/<%= beer.id %>'><%= beer.name %></a></td>
			<td><%= beer.brewer %></a></td>
			<td><%= beer.city %>, <%= beer.state %></td>
			<td><a href='/<%= beer.id %>/edit'>Edit</a></td>
			<td><%= link_to 'Delete',
			 				"/#{beer.id}",
							:method => :delete,
							:confirm => 'Sure about that?' %></td>
	</tr>
	<% end %>	

</table>	
