<h2><%= @beer.name %></h2>
<h3><%= @beer.brewer %></h3>
<h3><%= @beer.city %>, <%= @beer.state %></h3>
<ul class='characteristics'>
	<% @chars.each do |char, value| %>
		<% if value == 1 %>
			<li><%= char.capitalize %></li>
		<% end %>	
	<% end %>
<ul>
<br/>	
<a href='/<%= @beer.id %>/edit' class='edit'>Edit <%= @beer.name %></a>